/* 
    Document   : style-mobile.css
    Created on : 21/01/2012, 21:27:00
    Author     : Luís Dalmolin
    Description:
        CSS do site em resolução mobile (menor que 
*/ 

body {
    font-size:13px; }


.button, input[type=submit], input[type=button] {
    padding:0.8em 1.6em;
    font-size:1em; }


/* container */ 
#container {
    width:90%;
    margin:0 auto; }

/* .icones-sociais { */
.icones-sociais {
    display:none; }


/* conteudo principal */ 
.content {
    width:100%; }


/* escondendo algumas divs */ 
.sidebar {
    display:none; } 
.box-search {
    display:none; }

/* post thumbnail */ 
.post-thumbnail {
    display:none; }

.post-title h1, 
.post-title h2, 
.post-title h3, 
.post-title h4 {
    font-size: 1.4em;
} 

.post-single post-title {
    width: 85%;
}

.post-author {
    width: 10%;
}
    .post-author .post-author-name {
        display: none;
    }

.post-content img.alignleft, 
.post-content img.alignright {
    max-width: 45%;
} 